$main-white: #fff;
$main-color: #000032;
$main-icon: #696763;
$main-green: #00b67a;
$main-border: rgb(58, 62, 94);
$page-green2: #b1ded8;
$page-blue: #0a4469;

$jumbotron-yellow: #faeda5;

//txt
$txt-main-color: #191919;
$txt-second-color: #9192a7;
$txt-blue: #1a66ff;
$txt-white: #fff;
$txt-footer: #9a9aad;

$desktop_width: 4096px;
$tablet_width: 1024px;
$mobile_width: 640px;
